@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

:root {
    --mainbg: rgb(17, 17, 17);
    --maincolor: rgb(44, 242, 182);
    --ani-color: rgba(44, 242, 182, 0.129);
}

body {
    background: var(--mainbg);
    overflow-x: hidden;
}

.con {
    width: 80% !important;
    margin: 0 auto;
}

.main-warp {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-warp * {
    z-index: 999;
}

.nav>.con {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.nav-brand {
    font-size: 2.2rem;
    color: var(--maincolor);
}

.nav-menu {
    display: flex;
    margin: auto 0;
    color: #fff;
}

.nav-menu>.menu-item {
    padding: 0 10px;
}

.menu-item a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    transition: .5s;
}


.menu-item a:hover {
    color: var(--maincolor);
    text-shadow: 0px 0px 2px var(--maincolor);
}

.main-warp-body {
    display: flex !important;
    margin: auto !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
}

.main-warp-body .con {
    display: flex !important;
    margin: auto !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
}

.main-warp-body>.con>* {
    margin: auto 0;
    width: 45% !important;
}

.home-img img {
    width: 100%;
}

.main-title {
    text-transform: capitalize;
    font-size: 2.1rem;
    color: #fff;
}

.main-sub-title {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 300;
}

.body-ani {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0%;
    z-index: 9;
    overflow: hidden;
}

.cat {
    background: var(--ani-color);
    height: auto;
}

.cat-x {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: space-between;
}

.cat-x>div {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.cat-x h1 {
    font-size: 2.2rem;
}

.cat-x h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

.cat-text {
    width: 40%;
}

.cat-text h4 {
    margin-top: 10px;
    margin-right: 20px;
}

.cat-con {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row !important;
}

.main-cat-con {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.main-cat-con * {
    margin: 5px 0;
}

.cat-icon {
    font-size: 3rem;
}

.cat-con{
    transform: translateY(50px);
}

.cat-con>div {
    position: relative;
    min-height: 200px;
    width: 30%;
    margin-top: 20px;
    background: var(--mainbg);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--ani-color);
    transition: .5s;
}

.cat-con>div:hover{
    box-shadow: 0px 0px 25px var(--ani-color);
    transform: translateY(-5px);
}

.cat-con>div>.main {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.068);
}

.cat-icon{
    transition: .5s;
}

.cat-con>div>.main:hover .cat-icon {
    color: var(--maincolor);
}

.cat-con>div>.main>div {
    position: absolute;
    z-index: 999999;
}

.cat-con>div>.mouse {
    z-index: 99;
    position: absolute;
    top: -100%;
    width: 200px;
    height: 200px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(44, 242, 183, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: opacity .3s;
}

.cat-x>.cat-con {
    margin: auto;
}

.tech-head{
    margin-top: 150px;
    background: var(--ani-color);
}

.tech-head .tech-heading h1{
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
    padding: 70px 0;
}

.tech-head .pad-100{
    height: 80px;
}

.tech-body{
    transform: translateY(-120px);
}

.tech-body-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    margin: auto;
}

.tech-body-item>div {
    position: relative;
    height: same-as-width;
    width: 23%;
    margin-top: 20px;
    background: var(--mainbg);
    border-radius: 10px;
    transition: .5s;
    overflow: hidden;
    border: 1px solid var(--ani-color);
    margin: 10px auto;
}

.tech-body-item>div:hover{
    box-shadow: 0px 0px 25px var(--ani-color);
    transform: translateY(-5px);
}

.tech-body-item>div>.main {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.068);
}

.cat-icon{
    transition: .5s;
}

.tech-body-item>div>.main>div {
    position: absolute;
    z-index: 999999;
}

.tech-body-item>div>.mouse {
    z-index: 99;
    position: absolute;
    top: -100%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: opacity .3s;
}

.main-tech-con {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.main-tech-con * {
    margin: 5px 0;
    transition: .5s;
}

.tech-icon {
    font-size: 4rem;
}

.main-tech-con .tech-des .c-1{
    position: absolute;
    width: 100%;
}

.main-tech-con .tech-des .c-2{
    position: absolute;
    width: 100%;
    opacity: 0;
}

.main-tech-con:hover .tech-des .c-1{
    opacity: 0;
}

.main-tech-con:hover .tech-des .c-2{
    opacity: 1;
}


.tech-body-item>div>.mouse-html{
    background: radial-gradient(circle, rgb(227, 76, 38, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-html {
    color: rgb(227, 76, 38);
}

.tech-body-item>div>.mouse-js{
    background: radial-gradient(circle, rgb(234, 212, 28, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-js {
    color: rgb(234, 212, 28);
}

.tech-body-item>div>.mouse-css{
    background: radial-gradient(circle, rgb(36, 73, 216, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-css {
    color: rgb(36, 73, 216);
}

.tech-body-item>div>.mouse-node{
    background: radial-gradient(circle, rgb(51, 153, 51, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-node {
    color: rgb(51, 153, 51);
}

.tech-body-item>div>.mouse-php{
    background: radial-gradient(circle, rgb(67, 70, 131, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-php {
    color: rgb(67, 70, 131);
}

.tech-body-item>div>.mouse-react{
    background: radial-gradient(circle, rgb(92, 208, 238, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-react {
    color: rgb(92, 208, 238);
}

.tech-body-item>div>.mouse-an{
    background: radial-gradient(circle, rgb(210, 26, 21, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-an {
    color: rgb(210, 26, 21);
}

.tech-body-item>div>.mouse-flutter{
    background: radial-gradient(circle, rgb(80, 187, 235, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-flutter {
    color: rgb(80, 187, 235);
}

.tech-body-item>div>.mouse-jquery{
    background: radial-gradient(circle, rgb(8, 99, 163, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-jquery {
    color: rgb(8, 99, 163);
}

.tech-body-item>div>.mouse-java{
    background: radial-gradient(circle, rgb(235, 144, 30, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-java {
    color: rgb(235, 144, 30);
}

.tech-body-item>div>.mouse-scss{
    background: radial-gradient(circle, rgb(195, 98, 145, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-scss {
    color: rgb(195, 98, 145);
}

.tech-body-item>div>.mouse-bs{
    background: radial-gradient(circle, rgb(109, 17, 234, 0.171) 0%, rgba(0, 0, 0, 0) 70%);
}

.main-tech-con:hover .tech-icon-bs {
    color: rgb(109, 17, 234);
}

/* Mobile Support */

@media screen and (max-width: 700px) {

    .con {
        width: 95% !important;
    }

    .main-warp-body>.con>* {
        margin: 0px;
        width: 100% !important;
    }

    .home-img {
        display: none;
    }

    .main-title {
        font-size: 2rem;
    }

    .cat-text {
        width: 100%;
    }

    .cat-con {
        transform: translateY(0);
        width: 100%;
    }

    .cat-con>div {
        width: 95%;
    }

    .mouse {
        display: none;
    }

    .cat {
        padding: 50px 0;
    }

    .cat-text h4 {
        margin-top: 10px;
        margin-right: 0px;
    }    

    .tech-body-item>div {
        width: 95% !important;
    }

    .cat-icon, .tech-icon{
        font-size: 6rem !important;
    }

    .cat-des, .tech-des{
        font-size: 1.5rem;
    }


}